body {
    background-image: linear-gradient(#ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}


#Navbar {
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    color: #FFFFFF;
    
    
}

#Kontaktinfo {
    color: #FFFFFF;
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px, #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px, #ff2d95 0px 0px 50px, #FF2D95 0px 0px 75px;
    color: #FFFFFF;
    text-align: center;
}

#Hovedinnehold {
    color: #ffb5a7;
text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77,0,38,0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77,0,13,0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77,25,0,0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77,66,0,0.5), 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 15px 2px 30px rgba(64,77,0,0.5), 15px 0 45px #80FF00, 17px 0 45px #408000, 17px 2px 45px rgba(38,77,0,0.5);
color: #ffb5a7;

}

.sticker {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 5;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    transition: 0.2s 0.2s;
    transform: translate(10px, 20px, 0) scale(1.5) rotate(-45deg);
    opacity: 0;
}

.back, .front {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.35s;
}

.front {
    height: 0;
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 130px;
    height: 130px;
    transform: rotate(45deg);
    background-image: linear-gradient(#ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
    color: #240115;
    line-height: 130px;
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50%;
}

.back {
    top: 130px;
    overflow: hidden;
}

.wrapper {
    width: 300px;
    height: 400px;
    background-image: linear-gradient(#ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
    box-shadow: 0 0 10px -5px #000;
    border-radius: 5px;
    margin: auto;
    position: relative;

&:hover .sticker {
    transform: translate(0, 0, 0) scale(1) rotate(-45deg);
    transition-delay: 0s;
    opacity: 1;

    .front {
        height: 130px;
    }

    .back {
        top: 0;
    }
}
}

#Colors {
    color: #4f0147;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
color: #4f0147;
text-align: center;
}

.github {
    text-decoration:underline #4f0147;
}

.flex {
    display: flex;
    justify-content: space-around;
}



